:root {
  --background: #4d9de0;
  --dark: #e15554;
  --liquid: blue;
  --white: #eaebed;
  --heart-size: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background);
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  15% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

#myHeart {
  background: url(../svg/heart.svg) no-repeat center center fixed;
  display: inline-block;
  position: absolute;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  animation: heartbeat 3s infinite;
  align-items: center;
  justify-content: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.circle {
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: relative;
  overflow: hidden;
  transform: translate(0, 0);
}

.circle .liquid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-size: 64px;
}
.circle .water {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  background: var(--dark);
}
.circle .water_wave {
  width: 200%;
  position: absolute;
  bottom: 100%;
}
.circle .water_wave_back {
  right: 0;
  fill: #c7eeff;
  -webkit-animation: wave-back 1.2s infinite linear;
  animation: wave-back 1.2s infinite linear;
}
.circle .water_wave_front {
  left: 10;
  fill: var(--dark);
  margin-bottom: -1px;
  -webkit-animation: wave-front 0.7s infinite linear;
  animation: wave-front 0.7s infinite linear;
}

@-webkit-keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes wave-front {
  100% {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
@-webkit-keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
@keyframes wave-back {
  100% {
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
  }
}
