[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 5.x
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
	branch = 5.x
[submodule "perl5"]
	path = perl5
	url = https://github.com/Perl/perl5.git
	branch = blead
[submodule "ccache"]
	path = ccache
	url = https://github.com/ccache/ccache.git
	branch = master
[submodule "sccache"]
	path = sccache
	url = https://github.com/mozilla/sccache.git
	branch = main
[submodule "pygame"]
	path = pygame
	url = https://github.com/pygame/pygame.git
[submodule "UKiChessEngine"]
	path = UKiChessEngine
	url = https://github.com/nVietUK/UKiChessEngine.git
[submodule "cpython"]
	path = cpython
	url = https://github.com/python/cpython.git
	branch = mainx
