[submodule "yolov7"]
	path = yolov7
	url = https://github.com/WongKinYiu/yolov7.git
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
	branch = 5.x
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv.git
	branch = 5.x
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv.git
[submodule "oneMKL"]
	path = oneMKL
	url = https://github.com/oneapi-src/oneMKL.git
[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "ninja"]
	path = ninja
	url = https://github.com/ninja-build/ninja.git
[submodule "re2c"]
	path = re2c
	url = https://github.com/skvadrik/re2c.git
[submodule "perl5"]
	path = perl5
	url = https://github.com/Perl/perl5.git
	branch = blead
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/pytorch/pytorch.git
	branch = v1.13.1-rc1
[submodule "lapack"]
	path = lapack
	url = https://github.com/Reference-LAPACK/lapack.git
[submodule "magma-cuda"]
	path = magma-cuda
	url = https://github.com/nVietUK/magma-cuda.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/intel/llvm.git
	branch = sycl
[submodule "ccache"]
	path = ccache
	url = https://github.com/ccache/ccache.git
